body {
    margin: 0px;
    background-color: aliceblue;
    color: #484a4c;
}

h1 {
    text-align: center;
    background-color: #d8dfe5;
    margin: 0px;
    padding-top: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid;
    border-color: #c0c6cc;
}

form {
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #484a4c;
}

h2 {
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #d8dfe5;
    font-family: Tahoma;
}

td, th {
    border: 1px solid;
    border-color: #c0c6cc;
    padding: 10px;
    margin-left: 20px;
}

tr:nth-child(even) {
    background-color: #d8dfe5;
}
  
button {
    border: 1px solid;
    display: flex;
    margin-right:  20px;
}

input {
    width: 100px;
    padding: 6px;
    margin-right: 6px;
}

#totalMonthly {
    border-top: 1px;
    margin: 0px
}

.submit {
    float: right;
}

.red-background {
    background-color: #FF4C4C;
}

.emptyTh {
    padding-left: 100px;
}

.button {
    background-color: #d8dfe5;
    color: #484a4c;
    padding: 6px 6px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.buttonBox {
    margin:auto;
}
