body {
    margin: 0px;
    background-color: aliceblue;
    color: #484a4c;
}

h1 {
    text-align: center;
    background-color: #d8dfe5;
    margin: 0px;
    padding-top: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid;
    border-color: #c0c6cc;
}

h2 {
    margin-left: 20px;
}

form {
    margin-left: 20px;
}

td, th {
    border: 1px solid;
    border-color: #c0c6cc;
    padding: 10px;
    margin-left: 20px;
}
  
button {
    border: 1px solid;
    margin-top: 10px;
}

.emptyTh {
    padding-left: 100px;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
}

#totalMonthly {
    border-top: 1px;
    margin: 0px
}

.red-background {
    background-color: #FF4C4C;
}

