body {
    margin: 0px;
    background-color: aliceblue
}

h1 {
    text-align: center;
    background-color:blue;
}

h2 {
    margin-left: 20px;
}

form {
    margin-left: 20px;
}

td, th {
    border: 1px solid;
    padding: 10px;
    margin-left: 20px;
}
  
button {
    border: 1px solid;
    margin-top: 10px;
}

#emptyTh {
    padding-left: 100px;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
}


